@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
:root {
  --bgcolor: #fdfbf5;
  --ws31red: #b90001;
  --ws31green: #a3f7b5;
  --ws31pink: #db174b;
  --ws31purple: #5d31eb;
  --ws31yellow: #cef745;
  --ws31teal: #6ff7d3;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: var(--bgcolor);
  scroll-behavior: smooth;
}

.menu {
  display: none;
}

#hamburger__menu {
  display: none;
}

#logo__in__mobile {
  display: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
}
.wsred {
  color: var(--ws31red);
}

#logo__in__navbar {
  display: flex;
  align-items: center;
}
#logo__in__navbar img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#logo__in__navbar p {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

#navbar__links {
  display: flex;
  gap: 20px;
}

#navbar__links a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}

#navbar__links a:hover {
  color: var(--bgcolor);
  background-color: var(--ws31red);
  padding: 8px 16px;
}

#landing__page {
  height: 800px;
  margin: 0 auto;
  width: 90%;
}

#landing__page__content {
  height: 100%;
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#robot {
  font-size: 30px;
  margin-right: 15px;
  position: relative;
  top: 3px;
}

#landing__page__content p {
}
#landing__page__content h1 {
  font-size: 88px;
  line-height: 88px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
#landing__page__content h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}
#landing__page__content button {
  padding: 16px 32px;
  border: none;
  background-color: var(--ws31red);
  color: var(--bgcolor);
  margin-top: 20px;
}
#landing__page__content button:hover {
  background-color: black;
  color: var(--bgcolor);
}

#mosquito {
  width: 50px;
  position: absolute;
  right: 200px;
  top: 500px;
  z-index: 2;
}

#slider {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 50px;
}

#slider div {
  position: relative;
  width: 380px;
  height: 380px;
  flex-shrink: 0;
  animation: slide 20s linear infinite;
  transition: bottom 200ms ease-out;
  bottom: 0px;
}
#slider div:hover {
  bottom: 15px;
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-200%);
  } /* Ändra detta värde för att kontrollera rörelseavståndet */
}

#box__one {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__one img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__two {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__two img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__three {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__three img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__four {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__four img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__five {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__five img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__six {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__six img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__seven {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__seven img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__eight {
  background-color: var(--ws31green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__eight img {
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  color: white;
  padding: 100px;
}

#roller {
  font-size: 30px;
  margin-right: 15px;
  position: relative;
  top: 3px;
}

#services p {
  font-weight: 300;
  text-align: center;
}
#services h1 {
  font-size: 88px;
  margin: 0;
  margin-top: 10px;
}
#services h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

#services__grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#services__grid > div {
  height: 350px;
  width: 33.33%;
}

#grid__one {
  background-color: var(--ws31red);
  color: white;
}
#grid__two {
  background-color: var(--ws31green);
}
#grid__three {
  background-color: var(--ws31purple);
  color: white;
}
#grid__four {
  background-color: var(--ws31yellow);
}
#grid__five {
  background-color: var(--ws31teal);
}
#grid__six {
  background-color: var(--ws31pink);
  color: white;
}

#grid__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#grid__wrapper i {
  font-size: 36px;
  margin-left: 40px;
}
#grid__wrapper h3 {
  font-size: 32px;
  margin: 20px 0;
  font-weight: 400;
  margin-left: 40px;
}
#grid__wrapper p {
  margin: 0;
  font-size: 20px;
  width: 80%;
  font-weight: 300;
  margin-left: 40px;
}

#about {
  height: 700px;
  display: flex;
  align-items: center;
}

#about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#about__wrapper img {
  width: 300px;
  box-shadow: 3px 3px 3px rgb(109, 109, 109);
}

#about__text__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
#about__text__wrapper h1 {
  font-size: 60px;
  margin: 0;
}
#about__text__wrapper p {
  font-size: 18;
}

#contact {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2a2a2a;
  padding-top: 100px;
  padding-bottom: 180px;
}

#contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 40px;
}
#contact__wrapper i {
  color: white;
  font-size: 66px;
}

#contact__wrapper a {
}

.contact__person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__person {
  display: flex;
  flex-direction: column;
}
.contact__person h2 {
  font-size: 36px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact__person h3 {
  margin: 0;
  font-weight: 300;
}
.contact__person a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

#copyright {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  color: white;
}

#copyright i {
  font-size: 24px;
  margin-right: 10px;
}

#copyright p {
  font-size: 24px;
}

#map {
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 900px) {
  #navbar {
    display: none;
  }

  #landing__page {
    height: 100vh;
  }

  #landing__page__content {
    height: 100%;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #landing__page__content h1 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 0;
  }
  #landing__page__content h4 {
    font-size: 16px;
  }
  #landing__page__content button {
    padding: 14px 28px;
    border: none;
    background-color: var(--ws31red);
    color: var(--bgcolor);
    margin-top: 20px;
    font-size: 14px;
  }

  #landing__page__content button:hover {
    background-color: black;
    color: var(--bgcolor);
  }

  #mosquito {
    width: 40px;
    position: absolute;
    right: 200px;
    top: 500px;
    z-index: 2;
  }

  #slider {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 50px;
  }

  #slider div {
    position: relative;
    width: 380px;
    height: 380px;
    flex-shrink: 0;
    animation: slide 30s linear infinite;
    transition: bottom 200ms ease-out;
    bottom: 0px;
  }
  #slider div:hover {
    bottom: 15px;
  }

  @keyframes slide {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-400%);
    } /* Ändra detta värde för att kontrollera rörelseavståndet */
  }

  #services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    color: white;
    padding: 50px;
  }

  #roller {
    font-size: 30px;
    margin-right: 15px;
    position: relative;
    top: 3px;
  }

  #services p {
    font-weight: 300;
    text-align: center;
  }
  #services h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 10px;
  }
  #services h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  #services__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #services__grid > div {
    height: unset;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #grid__one {
    background-color: var(--ws31red);
    color: white;
  }
  #grid__two {
    background-color: var(--ws31green);
  }
  #grid__three {
    background-color: var(--ws31purple);
    color: white;
  }
  #grid__four {
    background-color: var(--ws31yellow);
  }
  #grid__five {
    background-color: var(--ws31teal);
  }
  #grid__six {
    background-color: var(--ws31pink);
    color: white;
  }

  #grid__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #grid__wrapper i {
    font-size: 36px;
    margin-left: 40px;
  }
  #grid__wrapper h3 {
    font-size: 32px;
    margin: 20px 0;
    font-weight: 400;
    margin-left: 40px;
  }
  #grid__wrapper p {
    margin: 0;
    font-size: 20px;
    width: 80%;
    font-weight: 300;
    margin-left: 40px;
  }

  #about {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #about__wrapper img {
    width: 50vw;
  }

  #about__text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #about__text__wrapper h1 {
    font-size: 48px;
    margin: 0;
    text-align: center;
  }
  #about__text__wrapper p {
    font-size: 14px;
    text-align: center;
    width: 80%;
  }

  #contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2a2a2a;
    padding-top: 70px;
    padding-bottom: 120px;
  }

  #contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 40px;
  }
  #contact__wrapper i {
    color: white;
    font-size: 66px;
  }

  #contact__wrapper a {
  }

  .contact__person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact__person {
    display: flex;
    flex-direction: column;
  }
  .contact__person h2 {
    font-size: 36px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .contact__person h3 {
    margin: 0;
    font-weight: 300;
  }
  .contact__person a {
    text-decoration: none;
    color: white;
    font-weight: 300;
  }

  #copyright {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    color: white;
  }

  #copyright i {
    font-size: 24px;
    margin-right: 10px;
  }

  #copyright p {
    font-size: 24px;
  }

  #map {
    width: 80%;
    height: 400px;
    margin-top: 50px;
  }

  #logo__in__mobile {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 25px;
    margin: 0;
    z-index: 4;
  }
  #logo__in__mobile img {
    width: 25px;
    height: 25px;
    margin: 0;
    margin-right: 10px;
  }
  #logo__in__mobile p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
  }

  #hamburger__menu {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 30px;
    right: 25px;
    color: black;
    z-index: 4;
  }

  #line__one {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    transition: all 0.3s;
    position: absolute;
    top: 0px;
  }

  #line__two {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    transition: all 0.3s;
    position: absolute;
    top: 10px;
  }

  .burgerSpinOneToX {
    animation: burgerSpinOneToX 500ms forwards;
  }

  .burgerSpinTwoToX {
    animation: burgerSpinTwoToX 500ms forwards;
  }

  .burgerSpinOneBack {
    animation: burgerSpinOneBack 500ms forwards;
  }

  .burgerSpinTwoBack {
    animation: burgerSpinTwoBack 500ms forwards;
  }

  @keyframes burgerSpinOneToX {
    0% {
      top: 0px;
      transform: rotate(0deg);
    }

    50% {
      top: 5px;
      transform: rotate(0deg);
    }

    100% {
      top: 5px;
      transform: rotate(-45deg);
    }
  }

  @keyframes burgerSpinTwoToX {
    0% {
      top: 10px;
      transform: rotate(0deg);
    }

    50% {
      top: 5px;
      transform: rotate(0deg);
    }

    100% {
      top: 5px;
      transform: rotate(45deg);
    }
  }

  @keyframes burgerSpinOneBack {
    0% {
      top: 5px;
      transform: rotate(-45deg);
    }

    50% {
      top: 5px;
      transform: rotate(0deg);
    }

    100% {
      top: 0px;
      transform: rotate(0deg);
    }
  }

  @keyframes burgerSpinTwoBack {
    0% {
      top: 5px;
      transform: rotate(45deg);
    }

    50% {
      top: 5px;
      transform: rotate(0deg);
    }

    100% {
      top: 10px;
      transform: rotate(0deg);
    }
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--ws31yellow);
    display: none;
    transition: all 0.5 ease-in-out;
    z-index: 3;
  }

  #menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 100px;
    gap: 10px;

  }

  #menu__links a {
    text-decoration: none;
    font-size: 40px;
    color: black;
    font-weight: 500;
  }

  @keyframes slideIn {
    from {
      transform: translateX(200%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

.show__menu {
  display: block;
  animation: slideIn 1s forwards;
}
.hide__menu {
  display: block;
  animation: slideOut 1s forwards;
}
