@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
:root {
  --bgcolor: #fdfbf5;
  --ws31red: #b90001;
  --ws31green: #a3f7b5;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: var(--bgcolor);
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
}
.wsred {
  color: var(--ws31red);
}

#logo__in__navbar {
  display: flex;
  align-items: center;
}
#logo__in__navbar img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#logo__in__navbar p {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

#navbar__links {
  display: flex;
  gap: 20px;
}

#navbar__links a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}

#navbar__links a:hover {
  color: var(--bgcolor);
  background-color: var(--ws31red);
  padding: 8px 16px;
}

#landing__page {
  height: 800px;
  margin: 0 auto;
  width: 90%;
}

#landing__page__content {
  height: 100%;
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#robot {
  font-size: 30px;
  margin-right: 15px;
  position: relative;
  top: 3px;
}

#landing__page__content p {
}
#landing__page__content h1 {
  font-size: 88px;
  line-height: 88px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}
#landing__page__content h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}
#landing__page__content button {
  padding: 16px 32px;
  border: none;
  background-color: var(--ws31red);
  color: var(--bgcolor);
}
#landing__page__content button:hover {
  background-color: black;
  color: var(--bgcolor);
}

#mosquito {
  width: 50px;
  position: absolute;
  right: 200px;
  top: 500px;
  z-index: 2;
}

#slider {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 100px;
}

#slider div {
  width: 380px;
  height: 380px;
  flex-shrink: 0;
  animation: slide 20s linear infinite; /* Justera tiden efter behov */
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  } /* Ändra detta värde för att kontrollera rörelseavståndet */
}

#box__one {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__one img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__two {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__two img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__three {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__three img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__four {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__four img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__five {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__five img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__six {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__six img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__seven {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__seven img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}
#box__eight {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box__eight img{
  height: 90%;
  box-shadow: 4px 4px 4px #757575;
}


#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  color: white;
  padding: 100px;
}

#roller {
  font-size: 30px;
  margin-right: 15px;
  position: relative;
  top: 3px;
}

#services p {
  font-weight: 300;
  text-align: center;
}
#services h1 {
  font-size: 88px;
  margin: 0;
  margin-top: 10px;
}
#services h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

#services__grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#services__grid > div {
    height: 350px;
    width: 33.33%;
}

#grid__one {
    background-color: var(--ws31red);
    color: white;
}
#grid__two {
    background-color: var(--ws31green);
}
#grid__three {
    background-color: #5D31EB;
    color: white;
}
#grid__four {
    background-color: #CEF745;
}
#grid__five {
    background-color: #6FF7D3;
}
#grid__six {
    background-color: #DB174B;
    color: white;
}

#grid__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
#grid__wrapper i {
    font-size: 36px;
    margin-left: 40px;

}
#grid__wrapper h3 {
    font-size: 32px;
    margin: 20px 0;
    font-weight: 400;
    margin-left: 40px;
}
#grid__wrapper p {
    margin: 0;
    font-size: 20px;
    width: 80%;
    font-weight: 300;
    margin-left: 40px;
}

#about {
    height: 500px;
}